<%- include("partials/header.ejs") %>

    <body>
        <% if (locals.link) {%>
            <h1>Your QR code for the <%= link %>: </h1>
            <% } else if (locals.error){ %>
                <h1>
                    <%= error %>
                </h1>
                <% } else { %>
                    <h1>Welcome to the code generator. Enter the URL below: </h1>
                    <% } %>

                        <div class="input-section">
                            <form action="/submit" method="POST">
                                <input id="input-link" type="text" name="link"
                                    placeholder="ex. https://www.google.com/">
                                <button type="submit" class="btn">Generate</button>
                            </form>

                        </div>

                        <div class="content-section">
                            <% if (locals.link) { %>
                                <img class="code-image" src="/assets/qr.png" alt="QR code">
                                <% } else { %>
                                    <img class="code-image" src="/assets/myGit.png" alt="QR code">
                                    <% } %>
                                        <div class="links-box">
                                            <p>Last links:</p>
                                            <div class="links">
                                                <ul>
                                                    <% loadedList.forEach(element=> {%>
                                                        <li>
                                                            <%= element %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                            </div>
                                        </div>
                        </div>
                        <footer> &copy; 2025 Natalia Polak</footer>
    </body>

    </html>